<h1>Show Slide deck</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @slide_deck.title %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.slide_deck_path(@conn, :edit, @slide_deck) %></span>
<span><%= link "Back", to: Routes.slide_deck_path(@conn, :index) %></span>
