<h1>Listing Speakers</h1>

<table>
    <%= for s <- @speakers do %>
    <tr>
    <td><%= render "speaker.html", speaker: s %></td>
           <td><%= link "View", to: Routes.speaker_path(@conn, :show, s.id) %></td>
    </tr>
    <% end %>
</table>