<h1>Listing Speakers</h1>

<table>
    <%= for s <- @speakers do %>
    <tr>
    <td><b><%= first_name(s) %></b> (<%= s.id %>)
           </td>
           <td><%= link "View", to: Routes.speaker_path(@conn, :show, s.id) %></td>
    </tr>
    <% end %>
</table>