<% import Enum %>

<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>


<%= unless empty?(@motds) do %> 
<p>Messages:</p>

<ul>
<%= for m <- @motds do %>
  <li><%= m.message_text %></li>
<% end %>
</ul>
<% end %>
