<h1>Show Slide image</h1>

<ul>

  <li>
    <strong>Source url:</strong>
    <%= @slide_image.source_url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.slide_image_path(@conn, :edit, @slide_image) %></span>
<span><%= link "Back", to: Routes.slide_image_path(@conn, :index) %></span>
