<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Speaker Karaoke" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-row-reverse my-8 space-x-1 space-x-reverse mx-4" >
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                   <div>
                   <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home),
                      class: "bg-blue-500 px-4 py-4 font-bold rounded-md shadow text-white hover:text-black" %>
                  </div>
            <% end %>
            <%= render "_user_menu.html", assigns %>
      </div>
    <div class="container mx-2">
      <%= @inner_content %>
    </div>
    </body>
</html>
